.container {
    padding: 15px;
}

.inline-wrapper {
    display: flex;
}

input, textarea, #preview {
    margin-top: 15px;
    padding: 15px 25px;
}

input, textarea {
    width: 100%;
}

textarea {
    min-height: 450px;
    resize: vertical;
}

#title {
    font-weight: bold;
}

#preview {
    height: 450px;
    border: 1px solid #999999;
    background-color: #ffffff;
    overflow: auto;
}

@media only screen and (min-width: 768px) {
    .container {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}