.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 15px;
}

#creation {
    width: 100%;
    max-width: 600px;
    border: 1px solid #999999;
    background-color: white;
}

#title {
    font-weight: bold;
}

#title, #content {
    padding: 15px 20px;
}